[user]
        name =
        email =
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[merge]
        tool = vimdiff
[github]
        user =
        token =
[diff]
        tool = vimdiff
